<!--
##
$NEWS_ID$
##
-->


<div class="card elevation-1 news" id="news_1">
	 			<div class="news_datetime" id="news_datetime_1">04/21/2045 - 14:54</div>
		 		<span class="news_title" id="news_title_1">
		 		<a class="pointer" onclick="openNews(1)">A news title</a> 
		 		</span>
		 		<p class="news_summary">First news ahah</p>
		 		<p class="news_content" id="news_content_1">
	A 1 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
				</p>
				<div class="read_more"><a class="pointer" onclick="openNews(1)">READ MORE</a></div>
		</div>