@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700);
body
{
	margin:0;
	padding:0;
	background:rgb(30,30,30);	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 	box-sizing: border-box; 
 	color:white;   
  font-family: 'Raleway', sans-serif;
}

.wth70pe
{
    width:70%;
}

#title
{
    font-size:2em;
    list-style-type: none;
    font-weight: 300; 
    padding-top: 12px;
    padding-left: 40px;
    position: absolute;
    left: 20;
    top:0;
}

#title_logo
{
  position: absolute;
  font-size:2em;
   font-weight: 300; 
  top: 5;
  left: 5;
  width: 50px;
}

#title_tiny
{
  font-size:2em;
   font-weight: 300; 
}

.thin
{
	font-weight:300;
}

.colorWhite
{
	color: #fff;
}
.italic
{
	font-style: italic;
}
.floatLeft
{
	float:left;
}

.wth100p
{
	width:100px;
}


.hgt100p
{
	height:100px;
}


.clear
{
	clear:both;
}


.wth800
{
    margin-right: 800px;
}

.topPadding20
{
    padding-top:20px;
}

.topPadding10
{
    padding-top:10px;
}

header
{
}

.button
{
    padding: 10;
    margin:10;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.5s;
}

.button:hover
{
    background: white;
    color: rgb(30,30,30);
}

.sideBar
{
	position:fixed;
	top:-20px;
	left:0;
	height:102vh;
	width:300px;
	background:white;
  list-style-type: none;
	padding: 20px;
	z-index: 6;
	box-shadow: 0px 10px 5px #888888;
}

.sideBar ul
{
  list-style-type: none;
}


.sideHeader
{
  font-size: 2em;
	cursor:pointer;
	margin-bottom: 30px;
	transition: all 0.2s;
}

 #navTiny
  {
    display: none;
    position: absolute;
    top: 0;
    left: -10px;
    float:left;
    list-style-type:none;
  }

.subPage
{
  padding-bottom: 20px;
  font-size: 1.15em;
  color: rgb(30,30,30);
}

a 
{
  text-decoration: none;
}
  #navLarge
  {
    display: block;
  }

#sideOpen
{
    font-size: 2em;
    padding-top: 10px;
    margin-right:10px;
}


	
#announce
{
    margin-top:150px;
    font-weight: 100;
    font-size:3.5em;
    padding: 20;
    text-align: center;
}

#rightNav
{
  position: absolute;
  top:0;
  right: 0;

}

.menu-icon {
    position:relative;
    display:inline-block;
    width:30px;
    text-indent:-999px;
}
 
.border-icon {
    height:13px;
    border-top:3px solid #fff;
    border-bottom:3px solid #fff;
}
 
.border-icon:before {
    content:"";
    position:absolute; 
    top:5px;
    left:0;
    width:100%;
    border-top:3px solid #fff;
}

@media screen and (max-width:600px)
{
  #navTiny
  {
    display: block;
  }
  #navLarge
  {
    display: none;
  }
  #announce
{
    margin-top:110px;
    font-weight: 100;
    font-size:2.5em;
    padding: 20;
    text-align: center;
}
 }

.arrow-left {
  width: 0; 
  height: 0; 
  margin-left: -30px;
  margin-right: 20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid black; 
  display: inline-block;
}

.name
{
  font-size: 0.7em;
}