html
{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body
{
	margin:0;
	padding:0;
  background: #efefef; 
 	color:white;   
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


#site_title
{
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 2em;
    background:  #00BCD4;
}

#nav_div
{
    background:  #00BCD4;
    width: 100%;
    padding-top: 2px;
    height: 26px;
}

#nav
{
  list-style-type: none;
  background:  #00BCD4;
  padding: 0; margin: 0;
  text-align: center;
}

#nav li
{
  display: inline;
  list-style: none; /* nécessaire pour IE7 */
  cursor: pointer;
}


#nav a
{
  display:inline-block;

  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  font-size: 1.05em;
  font-weight: 500;
  color: white;  
}




a
{
  color:red;
}


.elevation-1
{
       box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.elevation-3
{

     box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0), 0 8px 17px 0 rgba(0, 0, 0, 0.23);
}

.elevation-3-bottom
{
     box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.24);
}

#cards_container
{
  margin: 20;
  margin-top: 130;
  text-align: center;
}

.card
{
  width: 30%;
  border-radius: 1px;
  display: inline-block;
  color: black;
  padding:30;
  margin: 20;
  background: white;
}

.card p
{
  text-align: left;
}
.card_header
{
  font-size: 2.5em;
  padding-top: 30px;
}

@media screen and (max-width:600px)
{
  .card
{
  width: 90%;
  display: inline-block;
  color: black;
  padding:15;
  margin: 10;
  background: white;
}
  #nav a
{

  font-size: 0.9em; 
}

}

.notVisible
{
  display: none;
}

.visible
{
  display: block;
}

.legend
{
  font-size: 2em;
}

#FAB
{
  width: 50;
  height: 50;
  border-radius: 25px;
  background: #F44336;
  position: fixed;
  text-align: center;
  bottom: 15;
  z-index: 50;
  right: 15;
  cursor: pointer;
}

#smartp
{
  margin-top: 14;
  height: 22;
  color: white;
}


.elevation-2
{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }

#help_FAB
{
  opacity: 0;
  width: 120;
  padding: 3;
  position: relative;
  border-radius: 2px;
  background: rgba(31,31,31,0.9);
  margin-left: -140px;
  margin-top: -22px;
  transition:all 0.5s 1s;
}

#FAB:hover #help_FAB
{
  opacity: 1;
  transition:all 0.5s;
}

.smallFAB
{
  width: 44;
  height: 44;
  border-radius: 22px;
  position: fixed;
  text-align: center;
  right: 18;
  cursor: pointer;
}

#fb
{
 bottom: 17;
  background: #3b5998;
  z-index: 10;
   opacity: 0;
   transition: all 0.5s 1s;
}

#tw
{
 bottom: 17;
  background: #00aced;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s 1s;
}

#help_FAB_fb
{
  opacity:0;
  width: 110;
  padding: 3;
  position: relative;
  border-radius: 5px;
  background: rgba(31,31,31,0.6);
  margin-left: -132px;
  margin-top: -22px;
  transition: all 0.2s;
}
#help_FAB_tw
{
  opacity: 0;
  width: 110;
  padding: 3;
  position: relative;
  border-radius: 5px;
  background: rgba(31,31,31,0.6);
  margin-left: -132px;
  margin-top: -22px;
  transition: all 0.2s;
}

#FAB:hover #fb
{
  bottom: 75; 
  opacity: 1;
  transition: all 0.5s;
}

#FAB:hover #tw
{
  bottom: 130;
  opacity: 1;
 transition: all 0.5s;

}

#fb:hover #help_FAB_fb
{
    opacity:1;
}

#tw:hover #help_FAB_tw
{
    opacity:1;
}

#tab_indicator
{
  width:50px;
  height: 2.5px;
  background: yellow;
  position: absolute;
  bottom: 0;
  transition:all 0.4s;
}