html
{
    height: 100%;
}

body
{
	margin:0;
	padding:0;
  background: #efefef; 
 	color:white;   
  font-family: 'Raleway', sans-serif;
}



#site_title
{
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
    background:  #00BCD4;
}

#nav_div
{
    background:  #00BCD4;
    width: 100%;
    height: 25px;
     box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

#nav
{
  list-style-type: none;
  background:  #00BCD4;
  padding: 0; margin: 0;
  text-align: center;
}

#nav li
{
  display: inline;
  list-style: none; /* nécessaire pour IE7 */


}

.selectedTab
{
padding-bottom: 4px;
  border-bottom: solid 2px yellow;

}

.unselectedTab
{
padding-bottom: 4px;
  border-bottom: none;
}


#nav a
{
  display:inline-block;

  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  color: white;  }