<DOCTYPE html>
<html>
	<head>
		<title>Diffusio</title>
		<!--<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>-->
		<link rel='stylesheet' href='style/style.css'>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
		<meta charset="utf-8">
		<meta name="theme-color" content="rgb(30,30,30)">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	</head>
	<body>	  
	 	<header>
	 		<div id="site_title"><span>
Material Site
			</span>
			</div>
	 		<div id="nav_div" class="elevation-3-bottom">
	 		<ul id="nav">
	 			<li id="tab_1" class="selectedTab">
	 			<a   onclick="setVisibleNotVisibleNotVisible(1,2,3,4)">
TAB 1
	 			</a>
	 			</li>
	 			<li id="tab_2" class="unselectedTab">
	 			<a   onclick="setVisibleNotVisibleNotVisible(2,1,3,4)">
TAB 2
	 			</a>
	 			</li>
	 			<li id="tab_3" class="unselectedTab">
	 			<span id='ttt'><a   onclick="setVisibleNotVisibleNotVisible(3,4,1,2)">
TAB 3
	 			</a></span>
	 			</li>
	 			<li id="tab_4" class="unselectedTab	">
	 			<a   onclick="setVisibleNotVisibleNotVisible(4,1,2,3)">
VERY-LONG-TAB 4
	 			</a>
	 			</li>
	 		</ul>
	 		</div>
	 		<div id="tab_indicator"></div>
	 	</header>

	 	<div id="cards_container">
	 	<div id="content_1" class="visible">
	 		<div class="card elevation-1"><span class="card_header">I'm a card ! </span><p>A subdomain is configured with a CNAME record through your DNS provider.

We strongly recommend that you use a custom subdomain for these reasons:

It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.</p></div>
	 		<div class="card elevation-1"><span class="card_header">Lorem Ipsum</span><p>Note: Some DNS providers support configuring apex domains with an ALIAS or ANAME record, but there is no industry standard for these. Some DNS providers (like DNSimple) allow an apex domain configured with an ALIAS or ANAME record to point to some other domain name.It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because .</p></div>
	</div>
	<div id="content_2" class="notVisible">
	 		<div class="card elevation-1"><span class="card_header">I'm a card too! </span><p>A subdomain is configured with a CNAME record through your DNS provider.

We strongly recommend that you use a custom subdomain for these reasons:

It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.</p></div>
	 		<div class="card elevation-1"><span class="card_header">Lorem Ipsum 2</span><p>Note: Some DNS providers support configuring apex domains with an ALIAS or ANAME record, but there is no industry standard for these. Some DNS providers (like DNSimple) allow an apex domain configured with an ALIAS or ANAME record to point to some other domain name.It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because .</p></div>
	</div>
	<div id="content_3" class="notVisible">
	 		<div class="card elevation-1"><span class="card_header">You reached Tab 3! </span><p>A subdomain is configured with a CNAME record through your DNS provider.

We strongly recommend that you use a custom subdomain for these reasons:

It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.</p></div>
	 		<div class="card elevation-1"><span class="card_header">Lorem Ipsum 3</span><p>Note: Some DNS providers support configuring apex domains with an ALIAS or ANAME record, but there is no industry standard for these. Some DNS providers (like DNSimple) allow an apex domain configured with an ALIAS or ANAME record to point to some other domain name.It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because .</p></div>
	</div>
	<div id="content_4" class="notVisible">
	 		<div class="card elevation-1"><span class="card_header">Yeah tab 4! </span><p>A subdomain is configured with a CNAME record through your DNS provider.

We strongly recommend that you use a custom subdomain for these reasons:

It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.</p></div>
	 		<div class="card elevation-1"><span class="card_header">Lorem Ipsum 4</span><p>Note: Some DNS providers support configuring apex domains with an ALIAS or ANAME record, but there is no industry standard for these. Some DNS providers (like DNSimple) allow an apex domain configured with an ALIAS or ANAME record to point to some other domain name.It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because .</p></div>
	</div>
	 	</div>
	 <div onclick="toogleMobile();"id="FAB" class="elevation-2">
		 <img id="smartp" src="people.png">
		 <div id="help_FAB" class="elevation-2"><span id="help_FAB_content">Follow us</span></div>

		 <div onclick="toogleMobile();"id="fb" class="smallFAB elevation-1">
			 <img id="smartp" src="facebook.png">
			 <div id="help_FAB_fb" class="elevation-2"><span id="help_smallFAB_content">Facebook</span></div>
		</div>

		<div onclick="toogleMobile();"id="tw" class="smallFAB elevation-1">
			 <img id="smartp" src="twitter.png">
			 <div id="help_FAB_tw" class="elevation-2"><span id="help_smallFAB_content">Twitter</span></div>
		</div>

	</div>
		<script type="text/javascript">

		function setVisibleNotVisibleNotVisible(visible, not_visible1, not_visible2, not_visible3)
		{
			document.getElementById('tab_' + visible).className = "selectedTab";
			document.getElementById('tab_' + not_visible1).className = " unselectedTab";
			document.getElementById('tab_' + not_visible2).className = "unselectedTab ";
			document.getElementById('tab_' + not_visible3).className = " unselectedTab";

			document.getElementById('content_' + visible).className = "visible";
			document.getElementById('content_' + not_visible1).className = " notVisible";
			document.getElementById('content_' + not_visible2).className = "notVisible ";
			document.getElementById('content_' + not_visible3).className = " notVisible";

		var left = document.getElementById('tab_' + visible).offsetLeft;
		var width = document.getElementById('tab_'+ visible).offsetWidth;
		document.getElementById('tab_indicator').style.left = left;
		document.getElementById('tab_indicator').style.width = width - 5;
		}
		setVisibleNotVisibleNotVisible(1,2,3,4);
		</script>
	</body>
</html>