<DOCTYPE html>
<html>
	<head>
		<title>Diffusio</title>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='style/style.css'>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
		<meta charset="utf-8">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	</head>
	<body  onload="initialize()" onmousemove="mouse_position(event);setIndicator()" onresize="updateAll()">	 
		<header id='header' class="">
	 		<div id="site_title">
	 			<span>
Material
				</span>
			</div>
	 		<div id="nav_div" class="">
		 		<ul id="nav">
		 			<li id="tab_1" class="selectedTab">
		 				<a   id='a_tab_1'  onclick="setVisibleNotVisibleNotVisible(1,2,3)">
PRESENTATION
		 				</a>
		 			</li>
		 			<li id="tab_2" class="unselectedTab">
		 				<a  id='a_tab_2' onclick="setVisibleNotVisibleNotVisible(2,1,3)">
NEWS
		 				</a>
		 			</li>
		 			<li id="tab_3" class="unselectedTab">
		 				<a id='a_tab_3' onclick="setVisibleNotVisibleNotVisible(3,1,2)">
MORE

		 				</a>
		 			</li>
		 		</ul>
	 		</div>
	 		<div id="tab_indicator" class="tab_indicator"></div>
	 		<div id="tab_indicator_m" class="tab_indicator"></div>
	 	</header>
	 	<header id='header2' class="elevation-1">	
	 		<div id="site_title"><span>	
			</span>		
			</div>	
	 	</header>
		<section id="content_1" class='content'>
		 		<div class="wide_div white" id="w_d_1">
			 		<div class='v_align'>
				 		<img src="images/logo1.svg" class="logo_left logo">
				 		<div class='w_text'>
				 			<span class="slog slog_right">Lorem Ipsum</span>
				 			<p class="under_slog under_slog_right">Take the tour</p>
				 		</div>
				 		<div id="FAB_pres"  class="FAB elevation-2" onclick="">
				 			<img id="arrow_FAB"   src="images/s_arrow_down.png">
				 		</div>
		 			</div>
		 		</div>
		 		<div class="wide_div grey" id="w_d_2">
			 		<div class='v_align'>
				 		<img src="images/logo2.svg" class="logo_right logo">
				 		<span class="slog slog_left">This Website</span>
				 		<p class="under_slog under_slog_left">Is really amazing.</p>
			 		</div>
		 		</div>
		 		<div class="wide_div white" id="w_d_3">
			 		<div class='v_align'>
				 		<img src="images/logo3.svg" class="logo_left logo">
				 		<div class='w_text'>
				 			<span class="slog slog_right">Material</span>
				 			<p class="under_slog under_slog_right">Looks so great.</p>
				 		</div>
			 		</div>
		 		</div>
		</section>
		<section  id="content_2"  class='content'>
<!--#$#NEW-->

<!--##10-->

<div class='card elevation-1 news' id='news_10'><div class='news_datetime' id='news_datetime_10'>5/18/2015 13:26:6
</div><span class='news_title'   id='news_title_10'><a class='pointer' onclick='openNews(10);'>Title Hey</a> </span><p class='news_summary'>Summary</p><p class='news_content'  id='news_content_10'>Content</p><div class='read_more'><a class='pointer' onclick='openCircleNews(10)'>READ MORE</a></div></div>


<!--##9-->

<div class='card elevation-1 news' id='news_9'><div class='news_datetime' id='news_datetime_9'>5/18/2015 10:19:46
</div><span class='news_title'   id='news_title_9'><a class='pointer' onclick='openNews(9);'>Title </a> </span><p class='news_summary'>Summary</p><p class='news_content'  id='news_content_9'>Content</p><div class='read_more'><a class='pointer' onclick='openCircleNews(9)'>READ MORE</a></div></div>


<!--##8-->

<div class='card elevation-1 news' id='news_8'><div class='news_datetime' id='news_datetime_8'>5/17/2015 18:3:24
</div><span class='news_title'   id='news_title_8'><a class='pointer' onclick='openNews(8);'>Added for demo</a> </span><p class='news_summary'>Summary</p><p class='news_content'  id='news_content_8'>Video demo</p><div class='read_more'><a class='pointer' onclick='openCircleNews(8)'>READ MORE</a></div></div>


<!--##7-->

<div class='card elevation-1 news' id='news_7'><div class='news_datetime' id='news_datetime_7'>5/17/2015 17:59:44
</div><span class='news_title'   id='news_title_7'><a class='pointer' onclick='openNews(7);'>Title</a> </span><p class='news_summary'>Summary</p><p class='news_content'  id='news_content_7'>Content</p><div class='read_more'><a class='pointer' onclick='openCircleNews(7)'>READ MORE</a></div></div>


<!--##6-->

<div class='card elevation-1 news' id='news_6'><div class='news_datetime' id='news_datetime_6'>5/17/2015 17:59:24
</div><span class='news_title'   id='news_title_6'><a class='pointer' onclick='openNews(6);'>Added via GTK</a> </span><p class='news_summary'>Diffusio rocks !</p><p class='news_content'  id='news_content_6'>Content</p><div class='read_more'><a class='pointer' onclick='openCircleNews(6)'>READ MORE</a></div></div>


<!--##5-->

<div class='card elevation-1 news' id='news_5'><div class='news_datetime' id='news_datetime_5'>5/16/2015 23:8:25
</div><span class='news_title'   id='news_title_5'><a class='pointer' onclick='openNews(5);'>This</a> </span><p class='news_summary'>is</p><p class='news_content'  id='news_content_5'>one</p><div class='read_more'><a class='pointer' onclick='openCircleNews(5)'>READ MORE</a></div></div>

<!--##4-->
		<div class="card elevation-1 news" id="news_4">
	 		<div class="news_datetime" id="news_datetime_4">
	 			04/21/2045 - 14:54
	 		</div>
	 		<span class="news_title"   id="news_title_4"><a class="pointer" onclick="openNews(3)">Another news title</a></span>
	 		<p class="news_summary">First news ahah</p>
	 		<p class="news_content"  id="news_content_4">
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
			</p>
			<div class="read_more"><a class="pointer" onclick="openCircleNews(4)">READ MORE</a></div>
		</div>
<!--##3-->
		<div class="card elevation-1 news" id="news_3">
	 		<div class="news_datetime" id="news_datetime_3">04/21/2045 - 14:54</div>
	 		<span class="news_title"   id="news_title_3">
	 		<a class="pointer" onclick="openNews(3);">Another news title</a> 
	 		</span>
	 		<p class="news_summary">First news ahah</p>
	 		<p class="news_content"  id="news_content_3">
A 3 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
					</p>
					<div class="read_more"><a class="pointer" onclick="openCircleNews(3)">READ MORE</a></div>
		</div>
<!--##2-->
 		<div class="card elevation-1 news" id="news_2">
	 		<div class="news_datetime" id="news_datetime_2">04/21/2045 - 14:54</div>
	 		<span class="news_title"   id="news_title_2">
	 		<a class="pointer" onclick="openNews(2)">Another news title</a> 
	 		</span>
	 		
	 		<p class="news_summary">First news ahah</p>
	 		<p class="news_content"  id="news_content_2">
A 2 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
			</p>
			<div class="read_more"><a class="pointer" onclick="openCircleNews(2)">READ MORE</a></div>
		</div>
<!--##1-->
		<div class="card elevation-1 news" id="news_1">
 			<div class="news_datetime" id="news_datetime_1">04/21/2045 - 14:54</div>
	 		<span class="news_title" id="news_title_1">
	 		<a class="pointer" onclick="openNews(1)">A news title</a> 
	 		</span>
	 		<p class="news_summary" onclick="closeCircleNews(1)">First news ahah</p>
	 		<p class="news_content" id="news_content_1">
A 1 subdomain is configured with a CNAME record through your DNS provider.
We strongly recommend that you use a custom subdomain for these reasons:
It gives your GitHub Pages site the benefit of our Content Delivery Network.
It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
			</p>
			<div class="read_more"><a class="pointer" onclick="openCircleNews(1)">READ MORE</a></div>
			</div>
		</section>
		<section id="content_3" class='content' >
		 	<div class="card elevation-1" id="map_card">
			 	<div id="map_canvas" style="height:300px;"></div>
			    <div id="map_legend">
                    <span id="map_legend_header">Localisation</span>
                    <p id="map_legend_address">UTBM <br>Rue de Belfort<br>90000 SEVENANS</p>
                    <ul>
                        <li><img id="leg_open" src="images/open.svg"></li>
                        <li><img  id="leg_more" src="images/more.svg"></li>
                    </ul>
                </div>
            </div>
		 	<div class="card elevation-1">
		 		<span class="card_header">
Lorem Ipsum 3
		 		</span>
		 		<p>
Note: Some DNS providers support configuring apex domains with an ALIAS or ANAME record, but there is no industry standard for these. Some DNS providers (like DNSimple) allow an apex domain configured with an ALIAS or ANAME record to point to some other domain name.It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because .
				</p>
			</div>
		</section>
		<div onclick="toogleSocial();" id="FAB" class="FAB elevation-2">
			<div id='round_fab' ><img id="smartp"   src="images/people.png"></div>
			<div id="fb" class="smallFAB ">
				 <img id="s_smartp" src="images/facebook.png">
			</div>
			<div id="tw" class="smallFAB ">
				 <img id="s_smartp" src="images/twitter.png">
			</div>
		</div>
		<div id="circle_news"></div>
		<div id="FAB_close"  class="elevation-2" onclick=""><img id="smartp"   src="images/arrow.png"></div>
        <ul id="pres_progress">
            <li id="pres_progress_0"><div id="indic_1"></div></li>
            <li id="pres_progress_1"><div  id="indic_2"></div></li>
            <li  id="pres_progress_2"><div  id="indic_3"></div></li>
        </ul>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="js/script.js"></script>
	</body>
</html>