body
{
  background: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: lightgray;
}

#page
{
	background: white;
	width: 80%;
	height: 99.5%;
	margin: auto;
	 border-bottom	: 3px solid black;
}

#site_title
{
  text-align: center;
  border-top: 3px solid black;
  margin: auto;
  color: white;
  background: black;
  font-size: 3em;
  font-weight: 100;
}

#nav
{
  list-style-type: none;
  text-align: center;
  padding: 0;
  background: grey;
  padding-top: 10;
  padding-bottom: 10;	
  color: white;
  margin: 0;
  margin: auto;
  width: 100%;
}

#nav li
{
  display: inline;
  list-style: none; /* nécessaire pour IE7 */
  cursor: pointer;
  padding: 5;
  margin-left: 10;
  margin-right: 10;
}


.content
{
	text-align: center;	

}

.card
{
	display: inline-block;
	background: black;
	color: white;
	margin: 20;
	text-align: left;
}

.img_card
{
	width: auto;
}

.card
{
  width: 400;
  padding: 10;
}
.img_card
{
  width: 350;
  display: inline-block;	
}

.img_card img
{
  width: 300;
}

.legend
{
  font-size: 2em;
}

#FAB
{
  width: 50;
  height: 50;
  border-radius: 25px;
  background: black;
  position: absolute;
  top:5;
  text-align: center;
  z-index: 50;
  right: 5;	
  cursor: pointer;
}

#smartp
{
  position: absolute;
  margin-top: 14;
  height: 22;
  right: 14;
  color: white;
}

#s_smartp
{
  margin-top: 11;
  height: 22;
  color: white;
}

.elevation-2
{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }

#help_FAB
{
  opacity: 0;
  width: 120;
  padding: 3;
  position: relative;
  border-radius: 2px;
  background: rgba(31,31,31,0.9);
  margin-left: -140px;
  margin-top: -22px;
  transition:all 0.5s 1s;
}

/*#FAB:hover #help_FAB
{

  opacity: 1;
  transition:all 0.5;
}*/

.smallFAB
{
  width: 44;
  height: 44;
  border-radius: 22px;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

#fb
{
 bottom: 4;
 opacity: 0;
 right: 60;
  z-index: 10;
   transition: all 0.2s;
}

#tw
{
 bottom: 4;
 opacity: 0;
  z-index: 10;
  right: 100;
  transition: all 0.2s;
}

.selectedTab
{
	text-decoration: bold;
}

.visible
{
	display: inline-block;
}

.notVisible
{
	display: none;
}