<DOCTYPE html>
<html>
	<head>
		<title>Diffusio</title>
		<link rel='stylesheet' href='style/style.css'>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
		<meta charset="utf-8">
			<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	</head>
	<body onresize="update()">	 
<div id="wrapper">
	 	<header id='header' class="">
	 		<div id="site_title">
	 		<img src="logo.png">
	 		<br>
	 		<span>
Different
			</span>
			</div>
	 		<!--<div id="nav_div" class="">
	 		<ul id="nav">
	 			<li id="tab_1" class="selectedTab">
	 			<a   id='a_tab_1'  onclick="setVisibleNotVisibleNotVisible(1,2,3,4)">
PRESENTATION
	 			</a>
	 			</li>
	 			<li id="tab_2" class="unselectedTab">
	 			<a  id='a_tab_2' onclick="setVisibleNotVisibleNotVisible(2,1,3,4)">
NEWS
	 			</a>Diff
	 			</li>
	 			<li id="tab_3" class="unselectedTab">
	 			<span id='ttt'><a   id='a_tab_3'  onclick="setVisibleNotVisibleNotVisible(3,4,1,2)">
TAB 3
	 			</a></span>
	 			</li>
	 			<li id="tab_4" class="unselectedTab	">
	 			<a   id='a_tab_4'  onclick="setVisibleNotVisibleNotVisible(4,1,2,3)">
VERY-LONG-TAB 4
	 			</a>
	 			</li>
	 		</ul>
	 		
	 		</div>
	 		<div id="tab_indicator" class="tab_indicator"></div>
	 		<div id="tab_indicator_m" class="tab_indicator"></div>-->
	 	</header>
	 	<header id='header2' class="elevation-1">
	 		<div id="site_title"><span>
			</span>
			</div>
	 	</header>
	 	
	 <section id="content_1" class='content'>
	 <div class="section_title"><span>
Presentation	 
	 </span></div>
	 		<div class="wide_div white" id="w_d_1">
	 		<div class='v_align'>
		 		<div class='w_text'>
		 		<span class="slog slog_right">Lorem Ipsum</span>
		 		<p class="under_slog under_slog_right">Take the tour</p>
		 	</div>
	 		</div>
	 		</div>
	 		<div class="wide_div grey" id="w_d_2">
	 		<div class='v_align'>
		 		<span class="slog slog_left">This Website</span>
		 		<p class="under_slog under_slog_left">Is really amazing.</p>
	 		</div>
	 		</div>
	 		<div class="wide_div white" id="w_d_3">
	 		<div class='v_align'>
		 		<div class='w_text'>
		 		<span class="slog slog_right">Lorem Ipsum</span>
		 		<p class="under_slog under_slog_right">Take the tour</p>
		 	</div>
	 		</div>
	 		</div>
	</section>


	<section  id="content_2"  class='content'>
		 <div class="section_title"><span>
News
	 </span></div>
	 <div id="news_container">
<!--
##NEW
-->

<!--
##4
-->

	<div class="card elevation-1 news" id="news_4">
		 		<div class="news_datetime" id="news_datetime_4">04/21/2045 - 14:54</div>
		 		<span class="news_title"   id="news_title_4">
		 		<a class="pointer" onclick="openNews(3)">Another news title</a> 
		 		</span>
		 		
		 		<p class="news_summary">First news ahah</p>
		 		<p class="news_content"  id="news_content_4">
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
				</p>
				<div class="read_more"><a class="pointer" onclick="openCircleNews(4)">READ MORE</a></div>
			</div>


<!--
##3
-->

	 		
			<div class="card elevation-1 news" id="news_3">
		 		<div class="news_datetime" id="news_datetime_3">04/21/2045 - 14:54</div>
		 		<span class="news_title"   id="news_title_3">
		 		<a class="pointer" onclick="openNews(3);">Another news title</a> 
		 		</span>
		 		
		 		<p class="news_summary">First news ahah</p>
		 		<p class="news_content"  id="news_content_3">
	A 3 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
				</p>
				<div class="read_more"><a class="pointer" onclick="openCircleNews(3)">READ MORE</a></div>
			</div>
	 		

<!--
##2
-->

	 		<div class="card elevation-1 news" id="news_2">
		 		<div class="news_datetime" id="news_datetime_2">04/21/2045 - 14:54</div>
		 		<span class="news_title"   id="news_title_2">
		 		<a class="pointer" onclick="openNews(2)">Another news title</a> 
		 		</span>
		 		
		 		<p class="news_summary">First news ahah</p>
		 		<p class="news_content"  id="news_content_2">
	A 2 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
				</p>
				<div class="read_more"><a class="pointer" onclick="openCircleNews(2)">READ MORE</a></div>
			</div>


<!--
##
1
##
-->


<div class="card elevation-1 news" id="news_1">
	 			<div class="news_datetime" id="news_datetime_1">04/21/2045 - 14:54</div>
		 		<span class="news_title" id="news_title_1">
		 		<a class="pointer" onclick="openNews(1)">A news title</a> 
		 		</span>
		 		<p class="news_summary" onclick="closeCircleNews(1)">First news ahah</p>
		 		<p class="news_content" id="news_content_1">
	A 1 subdomain is configured with a CNAME record through your DNS provider.
	We strongly recommend that you use a custom subdomain for these reasons:
	It gives your GitHub Pages site the benefit of our Content Delivery Network.
	It will not be affected by changes in the underlying IP addresses of GitHub's servers.
	Pages will load significantly faster because Denial of Service protection can be implemented more efficiently.
				</p>
				<div class="read_more"><a class="pointer" onclick="openCircleNews(1)">READ MORE</a></div>
		</div>
		</div>
	</section>




	<section id="content_3" class='content'>
	 <div class="section_title"><span>
More
	 </span></div>
	 		<div class="card img_card elevation-1">
	 			<img src='sample_img_card.jpg'>
	 		</div>
	 		<div class="card elevation-1 "><span class="card_header">Lorem Ipsum</span><p>Note: Some DNS providers support configuring apex domains with an ALIAS or ANAME record, but there is no industry standard for these. Some DNS providers (like DNSimple) allow an apex domain configured with an ALIAS or ANAME record to point to some other domain name.It will not be affected by changes in the underlying IP addresses of GitHub's servers.
Pages will load significantly faster because .</p></div>
	</section>

	</div>
		<script type="text/javascript">
            function update()
            {
                var section_wth = document.getElementById("content_1").offsetWidth;
                document.getElementById("w_d_1").style.marginRight = 7;
                document.getElementById("w_d_1").style.width = section_wth/2 - 25;
                document.getElementById("w_d_2").style.width = section_wth/2 - 26;
            }
            update();
            function openCircleNews(id)
            {
                var news =  document.getElementById("news_" + id);
                news.style.transform = "rotateY(180deg) translate(0,-200px)"; 
            
            }
		</script> 
		
	</body>
</html>