<DOCTYPE html>
<html>
	<head>
		<title>Templates - Diffusio</title>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='style.css'>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
	</head>
	<body>
		<p id="title">Diffusio Templates Slideshow</p>
		<div id="line"></div>
		<div id="samples_container">
			<div id="sample_material" class="sample">
					
					<iframe class="frame desktop" id="frame_1" src="material/index.html"  width="70%" height="400" frameBorder="0">
					  <p>Your browser does not support iframes.</p>
					</iframe>
					<br><span class="legend">Material</span>
			</div>
			<div id="sample_sobre" class="sample">
					
					<iframe class="frame desktop" id="frame_2"  src="http://diffusio.co"  width="700" height="400" frameBorder="0">
					  <p>Your browser does not support iframes.</p>
					</iframe>
					<br><span class="legend">Sobre</span>
			</div>
			
		</div>
		 <div onclick="toogleMobile();"id="FAB" class="elevation-2">
		 <img id="smartp" src="smartphone.png">
		 <div id="help_FAB" class="elevation-2"><span id="help_FAB_content">Switch to Mobile view</span></div>
		 </div>
		<script type="text/javascript">
			var desktop = false;
			function toogleMobile()
			{
				var wth = desktop ? "70%" : "400px";
				var hgt = desktop ? "470px" : "600px";
				var icon = desktop ? "smartphone.png" : "laptop.png";
				var help_FAB = desktop ? "Switch to Mobile view" : "Switch to Desktop view";

				for (i = 1; i < 3; i++) 
					{
						document.getElementById('frame_' + i).style.width = wth;
						document.getElementById('frame_' + i).style.height = hgt;
					}
					desktop = !desktop;			
				document.getElementById('smartp').src = icon;
				document.getElementById('help_FAB_content').innerHTML = help_FAB;
			}
		</script>
	</body>
</html>
