body
{
	margin:0;
	padding:0;
  background: #009688; 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 	box-sizing: border-box; 
 	color:white;   
  font-family: 'Roboto', sans-serif;
}

#title
{
  text-align: center;
  font-size: 4em;
  font-weight: 300;
  margin-top: 10;
}

#line
{
  height: 1px;
  width: 300px;
  margin: auto;
  margin-top: -40;
  background: transparent;
}

#line_sub
{
  height: 1px;
  width: 300px;
  margin: auto;
  margin-top: 10;
  background: white;
}

#samples_container
{
  text-align: center;
}

.sample
{
  margin: 20;
  padding-bottom: 10;
}

.frame
{
       box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
       width: 70%;
       height: 470;
       transition: all 0.5s;
       margin-bottom: 5px;
}

 
.elevation-1
{

            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.legend
{
  font-size: 2em;
}

#FAB
{
  width: 50;
  height: 50;
  border-radius: 25px;
  background: #F44336;
  position: fixed;
  text-align: center;
  bottom: 15;
  right: 15;
  cursor: pointer;
}

#smartp
{
  margin-top: 14;
  height: 22;
  color: white;
}


.elevation-2
{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }

#help_FAB
{
  display:none;
  width: 200;
  padding: 3;
  position: relative;
  border-radius: 2px;
  background: rgba(31,31,31,0.9);
  margin-left: -220px;
  margin-top: -22px;
}

#FAB:hover #help_FAB
{
  display: block;
}

@media screen and (max-width:600px)
{

.frame
{
       box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
       width: 100%;
       height: 470;
}
#title
{
  font-size: 2em;
  text-decoration: bold;
}

.legend
{
  font-size: 1.5em;
}

#FAB
{
  display: none;
}

}